@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9fafb;
}

/* 隱藏捲軸但保留功能 */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* iOS Safe Area */
.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}